openapi: 3.0.3
info:
  title: Pirsch Access Links Funnels API
  description: RESTful API for sending page views, events, and session data to Pirsch, and for querying statistics including visitors, pages, referrers, UTM parameters, geo-location, device, browser, conversion goals, funnels, and real-time active visitors. Also exposes management endpoints for domains, members, clients, webhooks, email reports, traffic filters, short links, and views.
  version: '1'
  contact:
    name: Pirsch Support
    url: https://pirsch.io
  license:
    name: Proprietary
    url: https://pirsch.io/privacy
servers:
- url: https://api.pirsch.io/api/v1
  description: Pirsch production API
security:
- BearerAuth: []
tags:
- name: Funnels
  description: Define and manage multi-step conversion funnels
paths:
  /funnel:
    get:
      operationId: listFunnels
      summary: List funnels
      tags:
      - Funnels
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Domain ID
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Funnels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Funnel'
    post:
      operationId: createOrUpdateFunnel
      summary: Create or update funnel
      tags:
      - Funnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunnelRequest'
      responses:
        '200':
          description: Funnel saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
    delete:
      operationId: deleteFunnel
      summary: Delete funnel
      tags:
      - Funnels
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Funnel deleted
components:
  schemas:
    CreateFunnelRequest:
      type: object
      required:
      - domain_id
      - name
      - steps
      properties:
        domain_id:
          type: string
        id:
          type: string
        name:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              filter:
                type: object
    Funnel:
      type: object
      properties:
        id:
          type: string
        domain_id:
          type: string
        name:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              filter:
                type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Pass an OAuth2 access token obtained from POST /token, or a static access key, as a Bearer token in the Authorization header.
